<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="ida:Tenant" value="5698af84-5720-4ff0-bdc3-9d9195314244"/>
    <add key="ida:ClientId" value="ae1fd165-d152-492d-b4f5-74209f8f724a"/>
    <add key="todo:Scope" value="User.read Mail.Send Mail.ReadWrite"/>
  </appSettings>
</configuration>
