<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="Tenant" value="5698af84-5720-4ff0-bdc3-9d9195314244"/>
    <add key="ClientId" value="857e94b5-a931-43f0-a9cd-8a668dacdf2a"/>
    <add key="ClientSecret" value="-----"/>
    <add key="Scope" value="User.read Calendars.Read Calendars.ReadWrite"/>
  </appSettings>
</configuration>
